// P1 Wordpress theme color variables

// Pallete Colors
$darken: 10%;
$lighten: 10%;
$primary-blue: #225B66;
$darker-blue: darken($primary-blue, $darken);
$lighter-blue: lighten($primary-blue, $lighten);
$primary-cyan: #00A0B0;
$darker-cyan: darken($primary-cyan, $darken);
$lighter-cyan: lighten($primary-cyan, $lighten);
$primary-green: #22B019; // anchor color!!!!
$darker-green: darken($primary-green, $darken);
$lighter-green: lighten($primary-green, $lighten);
$primary-yellow: #EDC951;
$darker-yellow: darken($primary-yellow, $darken);
$lighter-yellow: lighten($primary-yellow, $lighten);
$primary-red: #CC333F;
$darker-red: darken($primary-red, $darken);
$lighter-red: lighten($primary-red, $lighten);
$primary-orange: #EB6841;
$darker-orange: darken($primary-orange, $darken);
$lighter-orange: lighten($primary-orange, $lighten);
$primary-brown: #6A4A3C;
$darker-brown: darken($primary-brown, $darken);
$lighter-brown: lighten($primary-brown, $lighten);

$border-color: #444;
$hover-bg-color: #EEE;
$current-bg-color: #888;
$overlay-color: rgba(#FFF, 0.5);

// Type
$abbr-border-color: $border-color;
$anchor-color: $primary-cyan;
$anchor-visited-color: $primary-blue;
$blockquote-color: #848484;
$blockquote-quotes-color: #444;
$blockquote-cite-color: #444;
$body-text-color: #000;
$breadcrumbs-color: #888;
$code-bg-color: #F4F4F4;
$code-border-color: #848484;
$dl-border-color: $border-color;
$dt-color: #444;
$h-color: #444;
$h-small-color: #848484;
$th-border-color: $border-color;
$thead-bg-color: $hover-bg-color;

// Helpers
$button-link-bg-color: $primary-orange;
$button-link-color: #FFF;
$card-bg-color: #FFF;

// Header
$header-color: #FFF;
$header-bg-color: $primary-orange;
$off-canvas-toggle-icon-color: $header-color;

// Float-nav
$comment-toggle-bg-color: $primary-brown;
$float-nav-button-icon-color: #FFF;
$off-canvas-toggle-bg-color: $header-bg-color;
$share-toggle-bg-color: $primary-red;
$search-toggle-bg-color: $primary-yellow;

$search-overlay-background: $overlay-color;
$search-overlay-background-hover: $overlay-color;

// Off-canvas menu
$off-canvas-bg-color: #FFF;
$off-canvas-hover-bg-color: $hover-bg-color;
$off-canvas-current-bg-color: $current-bg-color;
$off-canvas-current-color: #FFF;
$off-canvas-overlay-background: $overlay-color;
$off-canvas-overlay-background-hover: $overlay-color;

// Body
$body-bg-color: #FAFAFA;

// Article
$article-footer-bg-color: #F4F4F4;
$hr-border-color: $border-color;

// Article footer
$comment-toggle-border-color: $border-color;
$comment-toggle-hover-bg-color: $hover-bg-color;

// Pagination
$pagination-hover-bg-color: $hover-bg-color;
$pagination-current-bg-color: $current-bg-color;
$pagination-current-color: #FFF;
$pagination-unavailable-color: #AAA;

// Footer colors
$footer-bg-color: #444;
$footer-p-color: #FFF;

// -----------------------
// Social sharing
// -----------------------
.social-facebook { background: $primary-blue; }
.social-twitter { background: $primary-cyan; }
.social-vk { background: $primary-brown; }
.social-google-plus { background: $primary-red; }
.social-email { background: $primary-orange; }