// P1 Wordpress theme color variables

// Pallete Colors
$darken: 10%;
$lighten: 10%;
$primary-blue: #225B66;
$darker-blue: darken($primary-blue, $darken);
$lighter-blue: lighten($primary-blue, $lighten);
$primary-cyan: #00A0B0;
$darker-cyan: darken($primary-cyan, $darken);
$lighter-cyan: lighten($primary-cyan, $lighten);
$primary-green: #22B019; // anchor color!!!!
$darker-green: darken($primary-green, $darken);
$lighter-green: lighten($primary-green, $lighten);
$primary-yellow: #EDC951;
$darker-yellow: darken($primary-yellow, $darken);
$lighter-yellow: lighten($primary-yellow, $lighten);
$primary-red: #CC333F;
$darker-red: darken($primary-red, $darken);
$lighter-red: lighten($primary-red, $lighten);
$primary-orange: #EB6841;
$darker-orange: darken($primary-orange, $darken);
$lighter-orange: lighten($primary-orange, $lighten);
$primary-brown: #6A4A3C;
$darker-brown: darken($primary-brown, $darken);
$lighter-brown: lighten($primary-brown, $lighten);

$hover-bg-color: #DDD;
$current-bg-color: #888;
$overlay-color: rgba(#FFF, 0.5);

// Type
$body-text-color: #000;
$anchor-color: $primary-cyan;
$anchor-visited-color: $primary-blue;
$h-color: #444;
$h-small-color: #848484;

// Header
$header-color: #FFF;
$header-bg-color: $primary-orange;
$off-canvas-toggle-icon-color: $header-color;

// Float-nav
$search-overlay-background: $overlay-color;
$search-overlay-background-hover: $overlay-color;
$search-form-bg-color: #FFF;

// ---------Deprecated---------------
$blog-bg-color: $primary-cyan;
$travel-bg-color: $primary-orange;
$author-bg-color: $primary-red;
$default-bg-color: $primary-yellow;

$cat-colorize-darken: 10% !default;
$cat-colorize-lighten: 10% !default;
$cat-colorize-base-colors: $default-bg-color, $blog-bg-color, $travel-bg-color;//, $author-bg-color;
$cat-colorize-selectors: blog,
			category-travel page-template-travel-php tax-travel tax-country;
//			author author-misha author-masha;
// ---------Deprecated---------------

// Off-canvas menu
$off-canvas-bg-color: #FFF;
$off-canvas-hover-bg-color: $hover-bg-color;
$off-canvas-current-bg-color: $current-bg-color;
$off-canvas-current-color: #FFF;
$off-canvas-overlay-background: $overlay-color;
$off-canvas-overlay-background-hover: $overlay-color;

// Body
$body-bg-color: #FAFAFA;

// Article
$article-footer-bg-color: #F4F4F4;

// Article footer
$comment-toggle-border-color: #444;
$comment-toggle-hover-bg-color: $hover-bg-color;

// Pagination
$pagination-hover-bg-color: $hover-bg-color;
$pagination-current-bg-color: $current-bg-color;
$pagination-current-color: #FFF;
$pagination-unavailable-color: #AAA;

// Footer colors
$footer-bg-color: #444;
$footer-p-color: #FFF;

// -----------------------
// Social sharing
// -----------------------
#social-facebook { background: $primary-blue; }
#social-twitter { background: $primary-cyan; }
#social-vk { background: $primary-brown; }
#social-google-plus { background: $primary-red; }
#social-email { background: $primary-orange; }

// Foundation color vars
$primary-color: #225B66;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;