$include-html-classes: false;
$include-print-styles: false;
$include-html-button-classes:true;
$include-html-global-classes: true;
$include-html-grid-classes: true;
$include-html-type-classes: false;
$include-html-form-classes: false;
$include-html-nav-classes: false;
$include-html-visibility-classes: false;
$include-pagination-classes: false;