//----------------------
// Functions
//----------------------

// RANGES
// We use these functions to define ranges for various things, like media queries.
@function lower-bound($range){
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range,1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}

//----------------------
// Variables
//----------------------

//----------------------
// Color variables
//----------------------

// Pallete Colors
$darken: 20%;
$lighten: 10%;
$primary-blue: #225B66;
$darker-blue: darken($primary-blue, $darken);
$lighter-blue: lighten($primary-blue, $lighten);
$primary-cyan: #00A0B0;
$darker-cyan: darken($primary-cyan, $darken);
$lighter-cyan: lighten($primary-cyan, $lighten);
$primary-green: #22B019; // anchor color!!!!
$darker-green: darken($primary-green, $darken);
$lighter-green: lighten($primary-green, $lighten);
$primary-yellow: #EDC951;
$darker-yellow: darken($primary-yellow, $darken);
$lighter-yellow: lighten($primary-yellow, $lighten);
$primary-red: #CC333F;
$darker-red: darken($primary-red, $darken);
$lighter-red: lighten($primary-red, $lighten);
$primary-orange: #EB6841;
$darker-orange: #862A0E;
$lighter-orange: lighten($primary-orange, $lighten);
$primary-brown: #6A4A3C;
$darker-brown: darken($primary-brown, $darken);
$lighter-brown: lighten($primary-brown, $lighten);
$primary-grey: #515151;

$border-color: $primary-grey;
$hover-bg-color: #EEE;
$current-bg-color: #C3C3C3;
$overlay-color: rgba(#FFF, 0.5);

// Type
$abbr-border-color: $border-color;
$anchor-color: $primary-orange;
$anchor-visited-color: $darker-orange;
$blockquote-color: #848484;
$blockquote-quotes-color: $primary-grey;
$blockquote-cite-color: $primary-grey;
$body-text-color: #000;
$breadcrumbs-color: #888;
$code-bg-color: #F4F4F4;
$code-border-color: #848484;
$dl-border-color: $border-color;
$dt-color: $primary-grey;
$h-color: $primary-grey;
$h-small-color: #848484;
$th-border-color: $border-color;
$thead-bg-color: $hover-bg-color;

// Body
$body-bg-color: #FAFAFA;

// Base
$button-bg-color: $body-bg-color;
$button-border-color: $border-color;
$button-link-color: $border-color;
$button-hover-bg-color: $body-bg-color;
$button-hover-border-color: $border-color;
$button-hover-link-color: $anchor-color;
$button-current-bg-color: $current-bg-color;
$button-current-border-color: $current-bg-color;
$button-current-link-color: #FFF;
$button-unavailable-bg-color: $body-bg-color;
$button-unavailable-border-color: #AAA;
$button-unavailable-link-color: #AAA;
$card-bg-color: #FFF;

// Header
$site-title-color: #FFF;
$site-description-color: #DDD;
$header-bg-color: $primary-grey;
$off-canvas-toggle-icon-color: $site-title-color;

// Float-nav
$search-overlay-background: $overlay-color;
$search-overlay-background-hover: $overlay-color;

// Off-canvas menu
$off-canvas-bg-color: #FFF;
$off-canvas-hover-bg-color: $hover-bg-color;
$off-canvas-current-bg-color: $current-bg-color;
$off-canvas-current-color: #FFF;
$off-canvas-overlay-background: $overlay-color;
$off-canvas-overlay-background-hover: $overlay-color;
$off-canvas-has-children-color: $h-color;

// Article
$article-footer-bg-color: #F4F4F4;
$hr-border-color: $border-color;
$archive-article-content-bg-color: rgba($card-bg-color, 0.9);

// Article footer
$comment-toggle-border-color: $border-color;
$comment-toggle-hover-bg-color: $hover-bg-color;

// Footer colors
$footer-bg-color: $primary-grey;
$footer-p-color: #FFF;

// 404
$err-404-color: $h-color;

// Date archives
$archive-yearspicker-current-bg-color: #FFF;
$archive-yearspicker-current-link-color: $h-color;
$wp-calendar-color: $h-color;
$wp-calendar-head-bg-color: $header-bg-color;
$wp-calendar-head-color: #FFF;
$wp-calendar-current-bg-color: $button-current-bg-color;
$wp-calendar-current-link-color: $button-current-link-color;

// Social sharing
$social-facebook-color: $primary-blue;
$social-twitter-color: $primary-cyan;
$social-vk-color: $primary-brown;
$social-google-plus-color: $primary-red;
$social-email-color: $primary-orange;
$social-instagram-color: $primary-brown;
$social-linkedin-color: $primary-cyan;
//----------------------
// END Color variables
//----------------------

//----------------------
// Grid & Misc
//----------------------
$row-width: em-calc(980);
$total-columns: 12;
$column-gutter: em-calc(20);

$opposite-direction: right;
$default-float: left;
$last-child-float: $opposite-direction;

$content-side-padding: .5em;
$content-side-padding-medium-up: 1em;
//----------------------
// END Grid & Misc
//----------------------

//----------------------
// Navigation
//----------------------
// Float nav
$float-nav-button-diameter: em-calc(54);
$float-nav-button-font-size: em-calc(40);
$float-nav-offset: em-calc(10);

// Off canvas
$off-canvas-pos: left;
$off-canvas-transition: top 300ms ease, transform 300ms ease;
$off-canvas-menu-shadow-offset-x: em-calc(3);
$off-canvas-menu-box-shadow: $off-canvas-menu-shadow-offset-x 0 em-calc(5) 0px rgba(0, 0, 0, 0.4);
$off-canvas-link-padding: em-calc(10 15);
$off-canvas-link-border-bottom: none;
$off-canvas-link-transition: background 500ms ease;
$off-canvas-child-link-padding: em-calc(10 20 10 25, $to-context: 0.83em);
$off-canvas-grand-child-link-padding: em-calc(10 20 10 40, $to-context: 0.67em);
$off-canvas-overlay-transition: background 300ms ease;
$off-canvas-overlay-cursor: pointer;
$off-canvas-toggle-offset: 0;
$off-canvas-width: em-calc(250);
//----------------------
// END Navigation
//----------------------

//----------------------
// Media breakpoints
//----------------------

// Main

$small-range: (0em, 767 / 16 * 1em); // avg - 543,5
$medium-range: (768 / 16 * 1em, em-calc($row-width + 2 * ($float-nav-button-diameter + 2 * $float-nav-offset) - 1, $to-context: 16px)); // avg - 967,5
$large-range: (em-calc($row-width + 2 * ($float-nav-button-diameter + 2 * $float-nav-offset), $to-context: 16px), 1919 / 16 * 1em);
$xlarge-range: (1920 / 16 * 1em, 2559 / 16 * 1em);
$xxlarge-range: (2560 / 16 * 1em, 99999999em);

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

// Additional
$author-archive-smaller-range: (em-calc(372px, $to-context: 16px), 767 / 16 * 1em);
$author-archive-smaller-up: "#{$screen} and (min-width:#{lower-bound($author-archive-smaller-range)})";

//----------------------
// END Media breakpoints
//----------------------

//----------------------
// Buttons
//----------------------
$button-border-radius: .25em;
$button-border-width: 1px;
$button-border-style: solid;
$button-hover-border-width: 1px;
$button-hover-border-style: solid;
$button-current-border-width: 1px;
$button-current-border-style: solid;
$button-unavailable-border-width: 1px;
$button-unavailable-border-style: solid;
//----------------------
// END Buttons
//----------------------
