// P1 Wordpress theme general variables

// Colors
$darken: 30%;
$lighten: 30%;
$primary-blue: #225B66;
$darker-blue: darken($primary-blue, $darken);
$lighter-blue: lighten($primary-blue, $lighten);
$primary-cyan: #17A3A5;
$darker-cyan: darken($primary-cyan, $darken);
$lighter-cyan: lighten($primary-cyan, $lighten);
$primary-green: #8DBF67;
$darker-green: darken($primary-green, $darken);
$lighter-green: lighten($primary-green, $lighten);
$primary-yellow: #FCCB56;
$darker-yellow: darken($primary-yellow, $darken);
$lighter-yellow: lighten($primary-yellow, $lighten);
$primary-red: #E85248;
$darker-red: darken($primary-red, $darken);
$lighter-red: lighten($primary-red, $lighten);

// Home.nav
$home-nav-font-size: rem-calc(22);
$home-nav-margin: $home-nav-font-size / 2;
$home-nav-li-margin: rem-calc(11);
$home-nav-a-color: $white;
$home-nav-a-initial-opacity: 0.6;
$home-nav-a-transition: opacity 1000ms;

// Home.Article
$home-article-bg-color: $white;
$home-article-padding: rem-calc(16);

// Width of the dropdown items in the topbar containing actionable buttons (search, social) for medium-up screens
$topbar-dropdown-action-width: rem-calc(375);

// Top Bar Search form settings
$topbar-search-form-margin: rem-calc(5);
$topbar-search-field-padding: rem-calc(10);

// Top bar icon font-size
$topbar-icon-font-size: rem-calc(20);

// Tab bar (modal) search form settings
$tabbar-search-field-padding: rem-calc(10);
$tabbar-search-submit-padding: rem-calc(10);
$tabbar-search-form-font-size: rem-calc(15);

// Tab bar icon font-size
$tabbar-icon-font-size: $tabbar-height/2;

// Float nav
$float-nav-offset: rem-calc(15);
$float-nav-button-diameter: rem-calc(54);
$float-nav-button-font-size: rem-calc(38);
$float-nav-button-margin: rem-calc(8);
$float-nav-button-transition: bottom 300ms ease;
$float-nav-button-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);

// Off canvas
$off-canvas-transition: all 500ms ease;