// P1 Wordpress theme general variables

// Colors
$colors: blue #225B66, cyan #17A3A5, green #8DBF67, yellow #FCCB56, red #E85248;
@each $color-name, $color-value in $colors {
	$primary-#{$color-name}: #{$color-value};
	$lighter-#{$color-name}: lighten(#{$color-value}, 30%);
	$darker-#{$color-name}: darken(#{$color-value}, 30%);
}

// Home.nav
$home-nav-font-size: rem-calc(23);

// Width of the dropdown items in the topbar containing actionable buttons (search, social) for medium-up screens
$topbar-dropdown-action-width: rem-calc(375);

// Top Bar Search form settings
$topbar-search-form-margin: rem-calc(5);
$topbar-search-field-padding: rem-calc(10);

// Top bar icon font-size
$topbar-icon-font-size: rem-calc(20);

// Tab bar (modal) search form settings
$tabbar-search-field-padding: rem-calc(10);
$tabbar-search-submit-padding: rem-calc(10);
$tabbar-search-form-font-size: rem-calc(15);

// Tab bar icon font-size
$tabbar-icon-font-size: $tabbar-height/2;