@charset "UTF-8";

@import "compass/css3";
@import "perlovs/essentials/*";
@import "perlovs/settings/perlovs";
@import "perlovs/base/*";
@import "perlovs/layout/footer";
@import "perlovs/layout/header";
@import "perlovs/layout/search";

// Hide site navigation
.tab-bar .off-canvas-toggle, #float-nav, #off-canvas-menu {
	display: none;
}

.home p, .home h1 {
	text-align: center;
}

.first-section-header {
	@include content-padding($padding-top: 0);

	h1 {
		margin: 0;
	}
}

.home-section-header {
	margin-top: 2em;

	@include content-padding($padding-top: 0);
}

.section-bg-image {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 15em;
}

.home-section-title {
	bottom: .5em;
	left: 1em;
	position: absolute;
	right: 1em;
}

.search-label {
	display: none;
}

.author-avatar {
	height: 10em;

	@include border-radius(50%);
}

.author-answer {
	&:before {
		content: attr(data-question);
		display: block;
		margin: 0;

		@media #{$medium-up} {
			display: none;
		}
	}
}

.author-card {
	text-align: center;
}

#share {
	padding: .5em .25em;
}

#home-social-share-bar {
	text-align: center;

	a {
		display: inline-block;
		@include perlovs-button($font-size: em-calc(40), $round: em-calc(54), $transparent: 0);
	}
}