/*

@mixin and classes for leveled shadows (based on polymer-project css)

Mixin parameters
    $lev: 1 to 5, the bigger the number the "higher" the object (bigger shadow)
    $z-base: 100 !default - set z-index as x-base + lev
    $inv: false !default - if true display shadow above rather than below object
*/

//----------------------
// Mixins
//----------------------

@mixin shadow-base($trans: true, $z-base: 100, $z: 0, $shadow_bt: null, $shadow_tp: null) {
    @if $trans {
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    z-index: $z-base + $z;
    @if $shadow_bt {
        @if $shadow_tp {
            @include box-shadow($shadow_bt, $shadow_tp);
        }
        @else {
            @include box-shadow($shadow_tp);
        }
    }
    @else {
        @include box-shadow(none);
    }
}

@mixin container-shadow($lev, $z-base: 100, $trans: true, $inv: false) {
    @if $lev == 1 {
        @include shadow-base($trans, $z-base, $z: 1);
    }
    @if $inv == false {
        @if $lev == 1 {
            @include shadow-base($trans, $z-base, $z: 1, $shadow_bt:(0 2px 10px 0 rgba(0, 0, 0, 0.16)), $shadow_tp:(0 2px 5px 0 rgba(0, 0, 0, 0.26)));
        }

        @if $lev == 2 {
            @include shadow-base($trans, $z-base, $z: 2, $shadow_bt:(0 6px 20px 0 rgba(0, 0, 0, 0.19)), $shadow_tp:(0 8px 17px 0 rgba(0, 0, 0, 0.2)));
        }

        @if $lev == 3 {
            @include shadow-base($trans, $z-base, $z: 3, $shadow_bt:(0 17px 50px 0 rgba(0, 0, 0, 0.19)), $shadow_tp:(0 12px 15px 0 rgba(0, 0, 0, 0.24)));
        }

        @if $lev == 4 {
            @include shadow-base($trans, $z-base, $z: 4, $shadow_bt:(0 25px 55px 0 rgba(0, 0, 0, 0.21)), $shadow_tp:(0 16px 28px 0 rgba(0, 0, 0, 0.22)));
        }

        @if $lev == 5 {
            @include shadow-base($trans, $z-base, $z: 5, $shadow_bt:(0 40px 77px 0 rgba(0, 0, 0, 0.22)), $shadow_tp:(0 27px 24px 0 rgba(0, 0, 0, 0.2)));
        }
    }
    @else {
        @if $lev == 1 {
            @include shadow-base($trans, $z-base, $z: 1, $shadow_bt:(0 -2px 10px 0 rgba(0, 0, 0, 0.16)), $shadow_tp:(0 -2px 5px 0 rgba(0, 0, 0, 0.26)));
        }

        @if $lev == 2 {
            @include shadow-base($trans, $z-base, $z: 2, $shadow_bt:(0 -6px 20px 0 rgba(0, 0, 0, 0.19)), $shadow_tp:(0 -8px 17px 0 rgba(0, 0, 0, 0.2)));
        }

        @if $lev == 3 {
            @include shadow-base($trans, $z-base, $z: 3, $shadow_bt:(0 -17px 50px 0 rgba(0, 0, 0, 0.19)), $shadow_tp:(0 -12px 15px 0 rgba(0, 0, 0, 0.24)));
        }

        @if $lev == 4 {
            @include shadow-base($trans, $z-base, $z: 4, $shadow_bt:(0 -25px 55px 0 rgba(0, 0, 0, 0.21)), $shadow_tp:(0 -16px 28px 0 rgba(0, 0, 0, 0.22)));
        }

        @if $lev == 5 {
            @include shadow-base($trans, $z-base, $z: 5, $shadow_bt:(0 -40px 77px 0 rgba(0, 0, 0, 0.22)), $shadow_tp:(0 -27px 24px 0 rgba(0, 0, 0, 0.2)));
        }
    }
}

//----------------------
// Classes
//----------------------

.container-shadow-lev-1 {
    @include container-shadow(0);
}

.container-shadow-lev-1 {
    @include container-shadow(1);
}

.container-shadow-lev-2 {
    @include container-shadow(2);
}

.container-shadow-lev-3 {
    @include container-shadow(3);
}

.container-shadow-lev-4 {
    @include container-shadow(4);
}

.container-shadow-lev-5 {
    @include container-shadow(5);
}