/*
	P1 Wordpress theme footer styles
*/

// -----------------------
// Footer
// -----------------------

#page-footer {
	background-color: $footer-bg-color;
	padding: 1rem 0;

	p {
		color: $footer-p-color;
		font-size: 0.75em;
		margin: 0.1rem -.5em;
	}

	a:visited {
		color: $anchor-color;
	}
}