/*
	P1 Wordpress theme header styles
*/

// -----------------------
// Header
// -----------------------

#page-header {
	background-color: $header-bg-color;
	overflow: visible;
	position: relative;
	width: 100%;
	z-index: 1;

	// Shadow
	@include container-shadow(1);
}

// Tab-bar
.tab-bar {
	text-align: center;
	text-indent: 0;

	.off-canvas-toggle {
		color: $off-canvas-toggle-icon-color;
		display: inline-block;
		font-size: 2em;
		left: $off-canvas-toggle-offset;
		position: absolute;
		text-decoration: none;
		width: 0;

		@media #{$large-up} {
			display: none;
		}
	}
}

.tab-bar-title {
	color: $header-color;
	display: inline-block;
	font-family: 'Dancing Script', cursive;
	font-size: 2em;
}