/*
	P1 Wordpress theme single page/post styles
*/

// -------------------
// Post content area
// -------------------

.entry-content {
	overflow: hidden;

	// Force center aligned images in posts
	img {
		display: block;
		margin: 1.5em auto 0 auto;
	}

	p + img {
		margin: 0 auto;
	}

	// Compensate margin of span from more tag
	p span[id*="more"]:first-child {
		display: block;
		margin-top: -1.5em;
	}

	// bug fix related to font boosting on mobile (different fonts change size differently)
	// basically disable font scaling on mobile (do not respect user set values too...)
	max-height: 1000000px;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-webkit-text-size-adjust:none;

	@media #{$xlarge-up} {
		max-height: none;
		-moz-text-size-adjust:auto;
		-ms-text-size-adjust:auto;
		-webkit-text-size-adjust:auto;
	}
}

// -------------------
// Post footer
// -------------------

article footer {
	background-color: $article-footer-bg-color;
	margin: .5em -1em -.5em;
	padding: .25em 1em;

	// @include box-shadow(inset 0 7px 5px -4px rgba(0, 0, 0, 0.16));
}

.footer-nav {

}

// Next previous links
.previous-post-link {
	margin-top: .25em !important;
	margin-bottom: .25em !important;
}

.next-post-link {
	margin-top: .25em !important;
	margin-bottom: .25em !important;
}

// -------------------
// Post comments
// -------------------

.entry-comments {
	.comment-toggle {
		background: none;
		border-top: 1px dashed $comment-toggle-border-color;
		color: $anchor-color;
		cursor: pointer;
		height: 2em;
		line-height: 2em;
		margin: .5em -1em -.25em -1em;
		text-align: center;
		width: auto;

		&:hover, &:active {
			background-color: $comment-toggle-hover-bg-color;
		}
	}
}

// -------------------
// Post meta
// -------------------

.post-meta {
	overflow: hidden;

	& > * {
		margin-right: 1.5em;
	}
}

.post-tags {
	a:first-child {
		margin-left: .3em;
	}
}