/*
	P1 Wordpress theme single page/post styles
*/

// -------------------
// Post content area
// -------------------

.entry-content {
	overflow: hidden;

	// Force center aligned images in posts
	img {
		display: block;
		margin: 1.5em auto 0 auto;
	}

	p + img {
		margin: 0 auto;
	}

	// Compensate margin of span from more tag
	span[id*="more"] {
		display: block;
		margin-top: -1.5em;
	}

	// bug fix related to font boosting on mobile (different fonts change size differently)
	// basically disable font scaling on mobile (do not respect user set values too...)
	max-height: 1000000px;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-webkit-text-size-adjust:none;

	@media #{$xlarge-up} {
		max-height: none;
		-moz-text-size-adjust:auto;
		-ms-text-size-adjust:auto;
		-webkit-text-size-adjust:auto;
	}
}

// -------------------
// Post footer
// -------------------

article footer {
	background-color: #F4F4F4;
	margin: .5em -1em -.5em;
	padding: .25em 1em;

	// @include box-shadow(inset 0 7px 5px -4px rgba(0, 0, 0, 0.16));
}

// -------------------
// Post comments
// -------------------

.entry-comments {
	.comment-toggle {
		background-color: $primary-brown;
		margin: .5em auto .5em auto;

		&:hover {
			background-color: $darker-brown;
		}
	}
}

// -------------------
// Post meta
// -------------------

.post-meta {
	overflow: hidden;

	& > * {
		margin-right: 1.5em;
	}
}

.post-tags {
	a:first-child {
		margin-left: .3em;
	}
}