/*
P1 Wordpress theme type settings. Has to be included first
*/

// Fpundation conflicts with compass default settings, so have to sve and restore
$old-base-font-size: $base-font-size;
$old-base-line-height: $base-line-height;
$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: "em";
@import "compass/typography/vertical_rhythm";

/* Typography resets */
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}

// Set html and body fonts explicitly for REM to work
html, body {
	font-size: 100%;
}

// Line-height is always the same
body {
	background: #FAFAFA;
	color: #000;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;

	@media #{$medium-up} {
		font-size: 125%;
	}
}

//DEBUG
article {
	//@include debug-vertical-alignment();
}

// Foundation align classes
@include align-classes;

/* Default Link Styles */
a {
	color: #1a0dab;
	text-decoration: none;
	line-height: inherit;

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}

	&:visited {
		color: #609;
	}
}

/* Default paragraph styles */
p {
	text-align: justify;
	text-rendering: optimizeLegibility;

	@include leader(1);
}

// Remove margin between paragraph and adjacent heading
#{headings(2,6)} {
	& + p {
		margin-top: 0;
	}
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #000;
	text-align: left;
	text-rendering: optimizeLegibility;

	@include adjust-font-size-to(16px);

	header & {
		margin-top: 0;
		margin-bottom: 0;
	}

	small {
		font-size: 0.5em;
		color: #666;
	}
}

/* Remove margin between adjacent header */
@for $i from 1 through 5 {
	#{headings($i+1,6)} {
		h#{$i} + & {
			margin-top: 0;
		}
	}
}

h1 {
	@include adjust-font-size-to(44px);
	font-weight: lighter;
	@include rhythm-margins(2, 1, 44px);
}

h2 {
	@include adjust-font-size-to(36px);
	font-weight: lighter;
	@include rhythm-margins(2, 0, 36px);
}

h3 {
	@include adjust-font-size-to(24px);
	font-weight: bold;
	@include rhythm-margins(2, 0, 24px);
}

h4 {
	@include adjust-font-size-to(20px);
	font-weight: bold;
	@include rhythm-margins(2, 0, 20px);
}

h5 {
	font-weight: bold;
	@include rhythm-margins(2, 0);
}

h6 {
	font-style: italic;
	@include rhythm-margins(2, 0);
}


hr {
	border: $hr-border-style $hr-border-color;
	border-width: $hr-border-width 0 0;
	clear: both;
	margin: $hr-margin 0 ($hr-margin - rem-calc($hr-border-width));
	height: 0;
}

/* Helpful Typography Defaults */
em,
i {
	font-style: italic;
	line-height: inherit;
}

strong,
b {
	font-weight: $font-weight-bold;
	line-height: inherit;
}

small {
	font-size: $small-font-size;
	line-height: inherit;
}

code {
	font-family: $code-font-family;
	font-weight: $code-font-weight;
	color: $code-color;
	background-color: $code-background-color;
	border-width: $code-border-size;
	border-style: $code-border-style;
	border-color: $code-border-color;
	padding: $code-padding;
}

/* Lists */
ul,
ol {
	list-style-position: outside;

	@include leader(1);

	p + &, & ul, & ol {
		@include leader(0);
	}
}

/* Unordered Lists */
ul {
	margin-left: 2em;

	li {
		ul,
		ol {
			margin-left: 1em;
			margin-bottom: 0;
		}
	}

	&.square { list-style-type: square; }
	&.circle { list-style-type: circle; }
	&.disc { list-style-type: disc; }
	&.no-bullet { list-style: none; }
}

/* Ordered Lists */
ol {
	margin-left: 2em;

	li {
		ul,
		ol {
			margin-left: 1em;
			margin-bottom: 0;
		}
	}
}

/* Definition Lists */
dl {
	list-style-position: outside;

	dt {
		margin-bottom: $definition-list-header-margin-bottom;
		font-weight: $definition-list-header-weight;
	}
	dd { margin-bottom: $definition-list-margin-bottom; }
}

/* Abbreviations */
abbr,
acronym {
	text-transform: uppercase;
	font-size: 90%;
	color: $body-font-color;
	cursor: $cursor-help-value;
}
abbr {
	text-transform: none;
	&[title] {
		border-bottom: $acronym-underline;
	}
}

/* Blockquotes */
blockquote {
	margin: 0 0 $paragraph-margin-bottom;
	padding: $blockquote-padding;
	border-#{$default-float}: $blockquote-border;

	cite {
		display: block;
		font-size: $blockquote-cite-font-size;
		color: $blockquote-cite-font-color;
		&:before {
			content: "\2014 \0020";
		}

		a,
		a:visited {
			color: $blockquote-cite-link-color;
		}
	}
}
blockquote,
blockquote p {
	line-height: $paragraph-line-height;
	color: $blockquote-font-color;
}

/* Microformats */
.vcard {
	display: inline-block;
	margin: $microformat-margin;
	border: $microformat-border-width $microformat-border-style $microformat-border-color;
	padding: $microformat-padding;

	li {
		margin: 0;
		display: block;
	}
	.fn {
		font-weight: $microformat-fullname-font-weight;
		font-size: $microformat-fullname-font-size;
	}
}

.vevent {
	.summary { font-weight: $microformat-summary-font-weight; }

	abbr {
		cursor: $cursor-default-value;
		text-decoration: $microformat-abbr-font-decoration;
		font-weight: $microformat-abbr-font-weight;
		border: none;
		padding: $microformat-abbr-padding;
	}
}

/*
* Print styles.
*
* Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
* Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
.print-only { display: none !important; }
@media print {
	* {
		background: transparent !important;
		color: $black !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited { text-decoration: underline;}
	a[href]:after { content: " (" attr(href) ")"; }

	abbr[title]:after { content: " (" attr(title) ")"; }

	// Don't show links for images, or javascript/internal links
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after { content: ""; }

	pre,
	blockquote {
		border: 1px solid $aluminum;
		page-break-inside: avoid;
	}

	thead { display: table-header-group; /* h5bp.com/t */ }

	tr,
	img { page-break-inside: avoid; }

	img { max-width: 100% !important; }

	@page { margin: 0.5cm; }

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 { page-break-after: avoid; }

	.hide-on-print { display: none !important; }
	.print-only { display: block !important; }
	.hide-for-print { display: none !important; }
	.show-for-print { display: inherit !important; }
}

// Fpundation conflicts with compass default settings, so have to sve and restore
$base-font-size: $old-base-font-size;
$base-line-height: $old-base-line-height;