/*
	WP Perlovs buttons classes and mixin
*/

//----------------------
// Variables
//----------------------

//----------------------
// Functions
//----------------------


//----------------------
// Mixins
//----------------------

@mixin perlovs-button($font-size: $base-font-size, $round: false, $current: false, $unavailable: false, $transparent: false) {
	$to-size: convert-length($font-size, 'px');

	background-color: if($transparent == false, $button-bg-color, rgba($button-bg-color, $transparent));
	border: $button-border-width $button-border-style $button-border-color;
	color: $button-link-color;
	font-size: em-calc($font-size);
	text-align: center;

	@include transition(color 300ms ease);

	@if $round != false {
		height: em-calc($round, $to-context:$to-size);
		line-height: em-calc($round, $to-context:$to-size) - em-calc($button-border-width * 2, $to-context:$to-size);
		width: em-calc($round, $to-context:$to-size);
		@include border-radius(50%);
	}
	@else {
		padding: .25em;
		@include border-radius($button-border-radius);
	}

	&:visited {
		color: $button-link-color;
	}

	&:hover,
	&:active {
		background-color: if($transparent == false, $button-hover-bg-color, rgba($button-hover-bg-color, $transparent));
		border: $button-hover-border-width $button-hover-border-style $button-hover-border-color;
		color: $button-hover-link-color;
		cursor: pointer;
		text-decoration: none;
	}

	&:focus {

	}

	@if $current != false {
		&.current,
		&.current:hover,
		&.current:active {
			background-color: $button-current-bg-color;
			border: $button-current-border-width $button-current-border-style $button-current-border-color;
			color: $button-current-link-color;
			cursor: default;
			text-decoration: none;
		}

		&.current:focus {
			outline: none;
		}
	}

	@if $unavailable != false {
		&.unavailable,
		&.unavailable:hover,
		&.unavailable:active {
			background-color: if($transparent == false, $button-unavailable-bg-color, rgba($button-unavailable-bg-color, $transparent));
			border: $button-unavailable-border-width $button-unavailable-border-style $button-unavailable-border-color;
			color: $button-unavailable-link-color;
			cursor: default;
			text-decoration: none;
		}

		&.unavailable:focus {
			outline: none;
		}
	}
}

//----------------------
// Classes
//----------------------

.button {
	@include perlovs-button($transparent: 0);
}