/*
	WP Perlovs misc settings
*/

//----------------------
// Variables
//----------------------

//----------------------
// Functions
//----------------------

//----------------------
// Mixins
//----------------------

@mixin content-padding($padding-top: .5em, $important: false) {
	padding: if($important == true, $padding-top $content-side-padding !important, $padding-top $content-side-padding);

	@media #{$medium-up} {
		padding: if($important == true, $padding-top $content-side-padding-medium-up !important, $padding-top $content-side-padding-medium-up);
	}
}

@mixin card {
	background-color: $card-bg-color;
	margin: .5em 0;

	@include content-padding();
	@include container-shadow(1, 1, false);
}

//----------------------
// Classes
//----------------------

*,
*:before,
*:after {
	@include box-sizing(border-box);
}

// "Card" effect
.card {
	@include card;
}

.left { float: left !important; }
.right { float: right !important; }
.clearfix { @include clearfix; }