/*
	WP Perlovs misc settings
*/

//----------------------
// Variables
//----------------------

//----------------------
// Functions
//----------------------

//----------------------
// Mixins
//----------------------

@mixin content-padding($padding-top: .5em) {
	padding: $padding-top $content-side-padding;

	@media #{$medium-up} {
		padding: $padding-top $content-side-padding-medium-up;
	}
}

//----------------------
// Classes
//----------------------

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// "Card" effect
.card {
	background-color: $card-bg-color;
	margin: .5em 0;

	@include content-padding();
	@include container-shadow(1, 1, false);
}

.left { float: left !important; }
.right { float: right !important; }
.clearfix { @include clearfix; }