/*
	WP Perlovs page wrappers styles
*/

//----------------------
// Variables
//----------------------

//----------------------
// Functions
//----------------------

//----------------------
// Mixins
//----------------------

//----------------------
// Classes
//----------------------

html, body {
	height: 100%;
	overflow: hidden;
	width: 100%;

	@media print {
		height: auto;
	}
}

#page-wrapper {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;

	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	@media print {
		height: auto;
	}

	// Admin bar
	.admin-bar & {
		top: em-calc(46);
		@media #{$medium-up} {
			top: em-calc(32);
		}
	}
}

#main {
	min-height: calc(100% - 6em);
	overflow-x: hidden;
	width: 100%;
}