/*
	WP Perlovs social buttons color
*/

//----------------------
// Variables
//----------------------

//----------------------
// Functions
//----------------------

//----------------------
// Mixins
//----------------------

//----------------------
// Classes
//----------------------
.social-facebook { color: $social-facebook-color !important; }
.social-twitter { color: $social-twitter-color !important; }
.social-vk { color: $social-vk-color !important; }
.social-google-plus { color: $social-google-plus-color !important; }
.social-email { color: $social-email-color !important; }
.social-instagram { color: $social-instagram-color !important; }
.social-linkedin { color: $social-linkedin-color !important; }