/*
	Perlovs Wordpress theme type settings.
*/

//----------------------
// Variables
//----------------------

// Text alignment class names
$align-class-names:
  small-only,
  small,
  medium-only,
  medium,
  large-only,
  large;

// Text alignment breakpoints
$align-class-breakpoints:
  $small-only,
  $small-up,
  $medium-only,
  $medium-up,
  $large-only,
  $large-up;

//----------------------
// Mixins
//----------------------

// Generates text align and justify classes
@mixin align-classes{
  .text-left    { text-align: left !important; }
  .text-right   { text-align: right !important; }
  .text-center  { text-align: center !important; }
  .text-justify { text-align: justify !important; }

  @for $i from 1 through length($align-class-names) {
    @media #{(nth($align-class-breakpoints, $i))} {
      .#{(nth($align-class-names, $i))}-text-left { text-align: left !important; }
      .#{(nth($align-class-names, $i))}-text-right   { text-align: right !important; }
      .#{(nth($align-class-names, $i))}-text-center  { text-align: center !important; }
      .#{(nth($align-class-names, $i))}-text-justify { text-align: justify !important; }
    }
  }
}

//----------------------
// Classes
//----------------------

/* Typography resets */
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}

// Set html and body fonts explicitly for REM to work
html, body {
	font-size: 100%;
}

// Line-height is always the same
body {
	background: $body-bg-color;
	color: $body-text-color;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: $relative-line-height;
	word-wrap: break-word;

	@media #{$small-up} {
		font-size: 125%;
	}
}

//DEBUG
// article {
// 	@include debug-vertical-alignment();
// 	background-position: left .5em !important;
// }

// Foundation align classes
@include align-classes;

/* Default Link Styles */
a {
	color: $anchor-color;
	line-height: inherit;
	text-decoration: none;

	article &, footer & {
		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}

		&:visited {
			color: $anchor-visited-color;
		}
	}
}

/* Default paragraph styles */
p {
	text-align: justify;
	text-rendering: optimizeLegibility;

	@include leader(1);
}

// Remove margin between paragraph and adjacent heading, remove margin of descendant paragraphs
#{headings(1,6)} {
	& + p, & p {
		margin-top: 0;
	}
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	color: $h-color;
	text-align: left;
	text-rendering: optimizeLegibility;

	@include adjust-font-size-to(16px);

	small {
		color: $h-small-color;
		font-size: 0.6em;
		line-height: 1em;
	}
}

/* Remove margin between adjacent header */
@for $i from 1 through 5 {
	#{headings($i+1,6)} {
		h#{$i} + & {
			margin-top: 0;
		}
	}
}

h1 {
	font-weight: lighter;

	@include adjust-font-size-to(40px, 2);
	@include rhythm-margins(2, 0, 40px);

	header & {
		@include adjust-font-size-to(40px);
		@include rhythm-margins(0, 0, 40px);
	}

	@media #{$medium-up} {
		@include adjust-font-size-to(50px, 2);
		@include rhythm-margins(2, 0, 50px);

		header & {
			@include adjust-font-size-to(50px);
			@include rhythm-margins(0, 0, 50px);
		}
	}
}

h2 {
	@include adjust-font-size-to(40px);
	font-weight: bold;
	@include rhythm-margins(1, 0, 40px);
}

h3 {
	@include adjust-font-size-to(32px);
	font-weight: bold;
	@include rhythm-margins(1, 0, 32px);
}

h4 {
	@include adjust-font-size-to(24px);
	font-weight: bold;
	@include rhythm-margins(1, 0, 24px);
}

h5 {
	@include adjust-font-size-to(16px);
	font-weight: bold;
	@include rhythm-margins(1, 0, 16px);

	header &, footer & {
		@include rhythm-margins(0, 0, 16px);
	}
}

h6 {
	@include adjust-font-size-to(16px);
	color: $h-small-color;
}


hr {
	display: none;
}

/* Helpful Typography Defaults */
em,
i {
	font-style: italic;
	line-height: inherit;
}

strong,
b {
	font-weight: bold;
	line-height: inherit;
}

small {
	@include adjust-font-size-to(12px);
}

code,
kbd {
	background-color: $code-bg-color;
	border: 1px solid $code-border-color;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: .9em;
	line-height: 1.666em;
	padding: 0 .25em;

	@include border-radius(.25em);
}

pre {
	background-color: $code-bg-color;
	border: 1px solid $code-border-color;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 1em;
	padding: .7em .5em;

	@include border-radius(.25em);
	@include leader(1);
}

/* Lists */
ul,
ol {
	list-style-position: outside;

	@include leader(1);

	p + &, & ul, & ol {
		@include leader(0);
	}
}

/* Unordered Lists */
ul {
	margin-left: 2em;

	li {
		ul,
		ol {
			margin-left: 1em;
			margin-bottom: 0;
		}
	}

	&.square { list-style-type: square; }
	&.circle { list-style-type: circle; }
	&.disc { list-style-type: disc; }
	&.no-bullet { list-style: none; }
}

/* Ordered Lists */
ol {
	margin-left: 2em;

	li {
		ul,
		ol {
			margin-left: 1em;
			margin-bottom: 0;
		}
	}
}

/* Definition Lists */
dl {
	border: 1px solid $dl-border-color;
	list-style: none;
	margin: 1.5em auto;
	padding: .7em .5em;

	dt {
		color: $dt-color;
		font-weight: bold;
		@media #{$medium-up} {
			clear: left;
			float: left;
			text-align: right;
			width: em-calc(250);
		}
	}

	dd {
		margin-bottom: 1.5em;

		@media #{$medium-up} {
			margin-left: em-calc(250);
			padding-left: 1em;
		}

		+ dd {
			margin-top: -1.5em;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

/* Abbreviations */
acronym {
	text-transform: uppercase;
}

abbr,
acronym {
	cursor: help;
	&[title] {
		border-bottom: 1px dashed $abbr-border-color;
	}
}

/* BIG */
big {
	font-size: inherit;
}

/* Blockquotes */
blockquote {
	border: none;
	color: $blockquote-color;
	margin-left: 1em;
	padding: 0 0 0 3em;
	position: relative;
	text-align: justify;

	@include adjust-font-size-to(24px);
	@include rhythm-margins(1, 1, 24px);

	&:before {
		color: $blockquote-quotes-color;
		content: "\201C";
		font-family: Georgia, serif;
		font-size: 3em;
		font-weight: bold;
		left: .4em;
		position: absolute;
		top: .10em;
	}

	cite, + p cite {
		color: $blockquote-cite-color;
		display: block;
		float: right;
		font-style: italic;

		&:before {
			content: "\2014 \0020";
		}
	}

	cite {
		@include adjust-font-size-to(16px, 1, 24px);
		@include rhythm-margins(0, 1, 16px);
	}

	+ p cite {
		@include adjust-font-size-to(16px);
		@include rhythm-margins(-1, 1, 16px);
	}
}

blockquote {
	p, + p {
		margin: 0;
	}
}

/* Tables */
table {
	margin: 1.5em auto;

	thead {
		background-color: $thead-bg-color;
	}

	td, th {
		border: 1px solid $th-border-color;
		line-height: 1.5em;
		padding: .7em 1em .75em;
		text-align: left;
	}

	// Compensate bottom border to preserve vertical rhytm
	tbody {
		tr:last-child {
			td, th {
				padding: .7em 1em .7em;
			}
		}
	}
}

/*
* Print styles.
*
* Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
* Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
.print-only { display: none !important; }
@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	body, h1, h2, h3, h4, h5, h6 {
		font-family: "Times New Roman", Times, serif !important;
		word-wrap: break-word;
	}

	a,
	a:visited { text-decoration: underline;}
	a[href]:after { content: " (" attr(href) ")"; }

	abbr[title]:after { content: " (" attr(title) ")"; }

	// Don't show links for images, or javascript/internal links
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after { content: ""; }

	pre,
	blockquote {
		page-break-inside: avoid;
	}

	thead { display: table-header-group; /* h5bp.com/t */ }

	tr,
	img { page-break-inside: avoid; }

	img { max-width: 100% !important; }

	@page { margin: 0.5cm; }

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 { page-break-after: avoid; }

	.hide-on-print { display: none !important; }
	.print-only { display: block !important; }
	.hide-for-print { display: none !important; }
	.show-for-print { display: inherit !important; }
}