/*
	Perlovs Wordpress theme archives (category, tags, search, date, 404 etc.) styles
*/

// -------------------
// Header area
// -------------------

#archive-header, .secondary-title {
	margin: .5em 0 0;

	@include content-padding($padding-top: 0);
}

.secondary-title h1 {
	margin-top: .2em;
}

// -------------------
// Article
// -------------------

.archive-article {
	img {
		display: block;
		margin: 0 auto;
	}

	.entry-content {
		overflow: hidden;
	}

	* {
		// bug fix related to font boosting on mobile (different fonts change size differently)
		// basically disable font scaling on mobile (do not respect user set values too...)
		max-height: 1000000px;
		-moz-text-size-adjust:none;
		-ms-text-size-adjust:none;
		-webkit-text-size-adjust:none;

		@media #{$large-up} {
			max-height: none;
			-moz-text-size-adjust:auto;
			-ms-text-size-adjust:auto;
			-webkit-text-size-adjust:auto;
		}
	}
}

.archive-article-bg-image {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.archive-article-placeholder {
	//min-height: 15em;
}

.archive-article-content {
	background-color: $archive-article-content-bg-color;

	@media #{$medium-up} {
		background-color: $card-bg-color;
	}
}

.archive-article-footer {
	margin-top: 1.5em;
	text-align: center;

	@media #{$medium-up} {
		text-align: right;
	}
}

.more-link {
	display: inline-block;
}

// 404
.err-404 {
	color: $err-404-color;
	font-size: 7em;
	line-height: 1.2em;
	text-align: center;
}

// -------------------
// Countries archives
// -------------------

#archive-countrypicker {
	a:after {
		content: ",";
	}

	a:last-of-type:after {
		content: "";
	}

	#map-canvas {
		height: 15em;

		@include card;
	}

	button {
		display: block;
		margin-top: .5em;

		@include perlovs-button($font-size: 16px, $transparent: 0);
	}
}

// -------------------
// Date archives
// -------------------

#archive-yearspicker, #archive-monthpicker {
	> a:after {
		content: ",";
	}

	> a:last-of-type:after {
		content: "";
	}
}

#archive-calender-reveal {
	display: inline-block;
	margin-top: .5em;

	@include perlovs-button($font-size: 16px, $transparent: 0);
}

#wp-calendar-container {
	background: $search-overlay-background;
	clip: rect(1px,1px,1px,1px);
	cursor: default;
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	text-align: center;
	width: 100%;
	top: 0;
	z-index: 100;

	@include transition(clip 500ms ease, opacity 500ms ease);

	&:target {
		clip: rect(auto,auto,auto,auto);
		opacity: 1;
	}
}


#wp-calendar {
	background-color: $card-bg-color;
	color: $wp-calendar-color;
	margin: 0 auto;
	position: relative;
	top: 20%;

	@include content-padding();
	@include container-shadow(2);

	caption {
		display: none;
	}

	thead {
		background-color: $wp-calendar-head-bg-color;
		border-bottom: 1px solid $th-border-color;
		color: $wp-calendar-head-color;
	}

	th, td {
		border: none;
		line-height: 1.2em;
		padding: .25em;
		text-align: center;
	}

	th {
		font-weight: normal;
	}

	.current {
		background-color: $wp-calendar-current-bg-color;
		a,
		a:hover,
		a:active {
			color: $wp-calendar-current-link-color;
			cursor: default;
			text-decoration: none;
		}
	}
}