/*
	P1 Wordpress theme archives (category, tags, search, date etc.) styles
*/

// -------------------
// Header area
// -------------------

#archive-header {
	margin: .5em 0 0;
	padding: 0 1em;
}

.secondary-title {
	margin: .2em 0 0;
	padding: 0 .4em;
}

// -------------------
// Article
// -------------------

.archive-article {
	img {
		display: block;
		margin: 0 auto;
	}
}

.archive-article-footer {
	margin-top: 1.5em;
	text-align: center;

	@media #{$medium-up} {
		text-align: right;
	}
}

.more-link {
	display: inline-block;
}