/*
	Perlovs Wordpress theme archives (category, tags, search, date, 404 etc.) styles
*/

// -------------------
// Header area
// -------------------

#archive-header, .secondary-title {
	margin: .5em 0 0;

	@include content-padding($padding-top: 0);
}

.secondary-title h1 {
	margin-top: .2em;
}

// -------------------
// Article
// -------------------

.archive-article {
	img {
		display: block;
		margin: 0 auto;
	}

	.entry-content {
		overflow: hidden;

		// bug fix related to font boosting on mobile (different fonts change size differently)
		// basically disable font scaling on mobile (do not respect user set values too...)
		max-height: 1000000px;
		-moz-text-size-adjust:none;
		-ms-text-size-adjust:none;
		-webkit-text-size-adjust:none;

		@media #{$large-up} {
			max-height: none;
			-moz-text-size-adjust:auto;
			-ms-text-size-adjust:auto;
			-webkit-text-size-adjust:auto;
		}
	}
}

.archive-article-bg-image {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.archive-article-placeholder {
	//min-height: 15em;
}

.archive-article-content {
	background-color: $archive-article-content-bg-color;

	@media #{$medium-up} {
		background-color: $card-bg-color;
	}
}

.archive-article-footer {
	margin-top: 1.5em;
	text-align: center;

	@media #{$medium-up} {
		text-align: right;
	}
}

.more-link {
	display: inline-block;
}

// 404
.err-404 {
	color: $err-404-color;
	font-size: 7em;
	line-height: 1.2em;
	text-align: center;
}