/*
	Perlovs Wordpress theme header styles
*/

// -----------------------
// Header
// -----------------------

#page-header {
	background-color: $header-bg-color;
	overflow: visible;
	position: relative;
	width: 100%;
	z-index: 1;

	// Shadow
	@include container-shadow(1);

	@media #{$header-fixed} {
		position: fixed;
	}

	.home & {
		margin: 2em 0;

		// Disable shadow
		@include container-shadow(0);
	}

	// Tab-bar
	.tab-bar {
		text-align: center;
		text-indent: 0;

		.home & {
			padding: 1em 0 2em;
		}
	}

	.site-title {
		color: $site-title-color;
		display: inline-block;
		font-family: 'Dancing Script', cursive;
		font-size: 2em;

		&:visited {
			color: $site-title-color;
		}

		.home & {
			font-size: 4em;
		}
	}

	.site-description {
		display: none;
		text-align: center;

		.home & {
			color: $site-description-color;
			display: block;
			margin-top: 0;

			@include adjust-font-size-to(16px);
		}
	}
}

