/*
	P1 Wordpress theme navigation elements styles (breadcrumbs, pagination, menus, etc...)
*/

//----------------------
// Variables
//----------------------

// Float nav
$float-nav-offset: rem-calc(8);
$float-nav-button-diameter: rem-calc(54);
$float-nav-button-font-size: rem-calc(38);
$float-nav-button-margin: rem-calc(8);
$float-nav-button-md-coef: 1;
$float-nav-share-toggle-margin-fix: rem-calc(56);
$float-nav-comment-toggle-margin-fix: 0.6rem;

// Off canvas
$off-canvas-pos: left;
$off-canvas-transition: top 300ms ease, transform 300ms ease;
$off-canvas-menu-shadow-offset-x: rem-calc(3);
$off-canvas-menu-box-shadow: $off-canvas-menu-shadow-offset-x 0 rem-calc(5) 0px rgba(0, 0, 0, 0.4);
$off-canvas-link-padding: rem-calc(10 15);
$off-canvas-link-border-bottom: none;
$off-canvas-link-transition: background 500ms ease;
$off-canvas-child-link-padding: rem-calc(10 15 10 30);
$off-canvas-overlay-transition: background 300ms ease;
$off-canvas-overlay-cursor: pointer;
$off-canvas-overlay-box-shadow: -4px 0 4px rgba(#000, 0.5), 4px 0 4px rgba(#000, 0.5);
$off-canvas-toggle-offset: 0;
$off-canvas-width: rem-calc(250);

//----------------------
// Classes
//----------------------

// Float nav
#float-nav {
	bottom: $float-nav-offset;
	display: block;
	margin: 0;
	padding: 0;
	position: fixed;
	right: $float-nav-offset;
	text-align: center;
	text-indent: 0;
	vertical-align: middle;

	@media #{$large-up} {
		bottom: initial;
		left: 50%;
		margin-left: -$row-width / 2 -$float-nav-button-diameter;
		right: initial;
		top: $float-nav-offset;

		.admin-bar & {
			top: $float-nav-offset + rem-calc(32);
		}
	}

	@media print {
		display: none;
	}

	a {
		border: none;
		color: $float-nav-button-icon-color;
		display: inline-block;
		font-size: $float-nav-button-font-size;
		height: $float-nav-button-diameter;
		line-height: $float-nav-button-diameter;
		margin: 0;
		position: relative;
		text-decoration: none;
		width: $float-nav-button-diameter;

		@media #{$large-up} {
			display: block;
			margin-bottom: $float-nav-offset;
		}

		@if $float-nav-button-md-coef != 1 {
			@media #{$medium-up} {
				font-size: $float-nav-button-font-size * $float-nav-button-md-coef;
				height: $float-nav-button-diameter * $float-nav-button-md-coef;
				line-height: $float-nav-button-diameter * $float-nav-button-md-coef;
				width: $float-nav-button-diameter * $float-nav-button-md-coef;
			}
		}

		@include transition(all 300ms ease);
		@include container-shadow(2);
		@include border-radius(50%);

		&:hover {
			@include container-shadow(3);
			@include border-radius(50%);
			top: -1px;
		}

		&:active {
			@include container-shadow(1);
			@include border-radius(50%);
		}
	}

	.off-canvas-toggle {
		background-color: $off-canvas-toggle-bg-color;
		display: none;
		margin-top: $float-nav-offset;

		@media #{$large-up} {
			display: block;
		}
	}

	.search-container {
		display: inline-block;

		@media #{$large-up} {
			display: block;
		}

		.search-toggle {
			background-color: $search-toggle-bg-color;
		}

		.search-form-container {
			background: $search-overlay-background;
			clip: rect(1px,1px,1px,1px);
			height: 100%;
			left: 0;
			opacity: 0;
			position: fixed;
			text-align: center;
			width: 100%;
			top: 0;

			@media #{$large-up} {
				&:hover {
					background: $search-overlay-background-hover;
				}
			}

			@include transition(clip 500ms ease, opacity 500ms ease);
		}

		.search-form {
			display: inline-block;
			min-width: rem-calc(300);
			top: -50%;
			width: 50%;

			@include container-shadow(2);
			@include transition(top 500ms ease);
		}

		&.expanded {
			.search-form-container {
				clip: rect(auto,auto,auto,auto);
				opacity: 1;
			}

			.search-form {
				top: 20%;

				@include translate3d(0, 0, 0);
			}
		}
	}

	.social-container {
		display: inline-block;

		@media #{$large-up} {
			display: block;
		}

		.share-toggle {
			background-color: $share-toggle-bg-color;

			// Fix to center icon
			&:before {
				left: 50%;
				margin-left: -$float-nav-share-toggle-margin-fix;
				position: relative;
			}
		}

		#social-sharing-bar {
			bottom: $float-nav-button-diameter + $float-nav-offset;
			display: block;
			position: absolute;
			right: rem-calc(-300);
			width: rem-calc(291);

			@media #{$large-up} {
				bottom: initial;
				left: $float-nav-button-diameter + $float-nav-offset;
				right: initial;
				top: rem-calc(-350);
				width: auto;
			}

			@include transition(top 500ms ease, right 500ms ease);
		}

		&.expanded {
			#social-sharing-bar {
				right: 0;

				@media #{$large-up} {
					top: $float-nav-offset;
				}

				@include translate3d(0, 0, 0);
			}
		}
	}

	.comment-toggle {
		background-color: $comment-toggle-bg-color;

		// Fix to center icon
		&:before {
			margin-top: $float-nav-comment-toggle-margin-fix;
		}
	}
}

// Off canvas
#off-canvas-menu {
	bottom: 0;
	height: 100%;
	margin-#{$off-canvas-pos}: -100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;

	// Prevent iOS5 flicker bug
	-webkit-backface-visibility: hidden;
	* { -webkit-backface-visibility: hidden; }

	@media print {
		display: none;
	}

	ul.off-canvas-list {
		background-color: $off-canvas-bg-color;
		bottom: 0;
		box-shadow: $off-canvas-menu-box-shadow;
		margin: 0;
		overflow-x: hidden;
		overflow-y: scroll;
		padding: 0;
		position: absolute;
		list-style-type: none;
		top: 0;
		width: $off-canvas-width;
		z-index: 1002;

		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		@if $off-canvas-pos == right {
			left: $off-canvas-menu-shadow-offset-x;
		}
		@else {
			right: $off-canvas-menu-shadow-offset-x;
		}

		@include transition($off-canvas-transition);

		@media #{$large-up} {
			bottom: auto;
			left: 50%;
			margin-left: -$row-width / 2 + 1rem;
			margin-top: $float-nav-offset;
			max-height: 80%;
			position: fixed;
			top: -100%;

			@include container-shadow(2, 1000, false);

			.admin-bar & {
				top: $float-nav-offset + rem-calc(32);
			}
		}

		> li:first-child a {
			background-color: $header-bg-color;
			color: $header-color;
			font-family: 'Dancing Script', cursive;

			&:hover {
				background-color: $header-bg-color;
			}
		}

		li {
			list-style-type: none;

			.divider {
				display: none;
			}

			a {
				display: inline-block;
				padding: $off-canvas-link-padding;
				border-bottom: $off-canvas-link-border-bottom;
				text-decoration: none;
				transition: $off-canvas-link-transition;
				width: 100%;

				&:hover {
					background-color: $off-canvas-hover-bg-color;
				}
			}

			&.current-post-parent, &.current-page-parent, &.current-menu-item {
				> a {
					background-color: $off-canvas-current-bg-color;
					color: $off-canvas-current-color;
					cursor: default;

					&:after {
						content: "\f155";
						display: inline-block;
						float: right;
						font-family: "icons";
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-decoration: inherit;
						text-rendering: optimizeLegibility;
						text-transform: none;
						-moz-osx-font-smoothing: grayscale;
						-webkit-font-smoothing: antialiased;
						font-smoothing: antialiased;
					}
				}
			}

			ul {
				margin: 0;
				padding: 0;

				li {
					margin: 0;
					padding: 0;

					a {
						font-size: .83em;
						padding: $off-canvas-child-link-padding;
					}
				}
			}
		}
	}

	a.exit-off-canvas {
		background: none;
		bottom: 0;
		cursor: $off-canvas-overlay-cursor;
		display: none;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1001;

		-webkit-tap-highlight-color: rgba(0,0,0,0);

		@include transition($off-canvas-overlay-transition);
	}
}

.off-canvas-move #off-canvas-menu {
	ul.off-canvas-list {
		@if $off-canvas-pos == right {
			@include translate3d(-($off-canvas-menu-shadow-offset-x + $off-canvas-width), 0, 0);
		}
		@else {
			@include translate3d($off-canvas-menu-shadow-offset-x + $off-canvas-width, 0, 0);
		}

		@media #{$large-up} {
			top: $float-nav-offset;

			@include translate3d(0, 0, 0);
		}
	}

	a.exit-off-canvas {
		background: $off-canvas-overlay-background;
		@media #{$large-up} {
			&:hover {
				background: $off-canvas-overlay-background-hover;
			}
		}
		display: block;
	}
}

// Pagination

// Container
.pagination-centered {
	display: block;
	margin: .25em auto .5em;
	text-align: center;

	#single-nav & {
		margin: .25em auto;
	}
}

// Pagination colorize
ul.pagination {
	margin: 0;

	li {
		background: none;
		color: $anchor-color;
		display: inline-block;
		height: 1.5em;
		margin: 0 .15em;
		width: 1.5em;

		@include border-radius(50%);
		@include transition(background 300ms ease, box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1));

		&:hover,
		&:focus,
		&:active {
			background-color: $pagination-hover-bg-color;
			cursor: pointer;

			@include container-shadow(1, 100, false);
		}

		&.current,
		&.current:hover,
		&.current:focus {
			background-color: $pagination-current-bg-color;
			color: $pagination-current-color;
			cursor: default;

			@include box-shadow(none);
		}

		&.unavailable,
		&.unavailable:hover,
		&.unavailable:focus {
			background: none;
			color: $pagination-unavailable-color;
			cursor: default;

			@include box-shadow(none);
		}
	}

	a {
		color: inherit;
		cursor: inherit;
		text-decoration: none;
	}

}

// Breadcrumbs
.breadcrumbs {
	color: $breadcrumbs-color;
	overflow: hidden;

	& > * {
		text-transform: lowercase;
	}

	a {
		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}

	.divider:before {
		content: ">";
		margin: 0 .2em;
		position: relative;
		text-decoration: none;
		top: 1px;
	}

	.current {
		font-weight: normal;
		font-style: italic;
	}
}