/*
	Perlovs Wordpress theme navigation elements styles (breadcrumbs, pagination, menus, etc...)
*/

//----------------------
// Variables
//----------------------

//----------------------
// Classes
//----------------------

// Float nav
#float-nav {
	bottom: .5em;
	display: block;
	margin: 0;
	padding: 0;
	position: fixed;
	right: .5em;
	text-align: center;
	text-indent: 0;
	vertical-align: middle;

	@media #{$large-up} {
		bottom: auto;
		left: 50%;
		margin-left: -$row-width / 2 - $float-nav-button-diameter - $float-nav-offset;
		right: auto;
		top: 4em; //3em site-header + 1em page-header

		.admin-bar & {
			top: 4em + em-calc(32);
		}
	}

	@media print {
		display: none;
	}

	a {
		display: inline-block;
		margin: 0;
		position: relative;

		@media #{$large-up} {
			display: block;
			margin-bottom: em-calc(8, $to-context: $float-nav-button-font-size);

			@include container-shadow(0, 1000, false);
		}

		@include container-shadow(2, 1000, false);
		@include perlovs-button($font-size: $float-nav-button-font-size, $round: $float-nav-button-diameter);
	}

	.off-canvas-toggle {
		display: none;

		@media #{$large-up} {
			display: block;
		}
	}

	.search-container {
		display: inline-block;

		@media #{$large-up} {
			display: block;
		}

		.search-toggle {

		}

		.search-form-container {
			background: $search-overlay-background;
			clip: rect(1px,1px,1px,1px);
			height: 100%;
			left: 0;
			opacity: 0;
			position: fixed;
			text-align: center;
			width: 100%;
			top: 0;

			@media #{$large-up} {
				&:hover {
					background: $search-overlay-background-hover;
				}
			}

			@include transition(clip 500ms ease, opacity 500ms ease);
		}

		.search-form {
			display: inline-block;
			max-width: $row-width - $column-gutter - 2em;
			min-width: em-calc(300);
			top: -50%;
			width: 80%;

			@include container-shadow(2);
			@include transition(top 500ms ease);
		}

		&.expanded {
			.search-form-container {
				clip: rect(auto,auto,auto,auto);
				opacity: 1;
			}

			.search-form {
				top: 20%;

				@include translate3d(0, 0, 0);
			}
		}
	}

	.social-container {
		display: inline-block;

		@media #{$large-up} {
			display: block;
		}

		.share-toggle {
			// Fix to center icon
			&:before {
				left: em-calc(-1px, $to-context: $float-nav-button-font-size);
				position: relative;
			}
		}

		.social-sharing-bar {
			bottom: $float-nav-button-diameter + $float-nav-offset;
			display: block;
			position: absolute;
			right: em-calc(-350);
			width: em-calc(291);

			@media #{$large-up} {
				bottom: auto;
				left: $float-nav-button-diameter + $float-nav-offset;
				right: auto;
				top: em-calc(-450);
				width: auto;

				a {
					@include container-shadow(2, 1000, false);
				}
			}

			@include transition(top 500ms ease, right 500ms ease);
		}

		&.expanded {
			.social-sharing-bar {
				right: 0;

				@media #{$large-up} {
					right: auto;
					top: 0;
				}

				@include translate3d(0, 0, 0);
			}
		}
	}

	.comment-toggle {
		// Fix to center icon
		&:before {
			margin-top: em-calc(7px, $to-context: $float-nav-button-font-size);
		}
	}
}

// Off canvas
#off-canvas-menu {
	bottom: 0;
	height: 100%;
	margin-#{$off-canvas-pos}: -100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;

	// Prevent iOS5 flicker bug
	-webkit-backface-visibility: hidden;
	* { -webkit-backface-visibility: hidden; }

	@media print {
		display: none;
	}

	ul.off-canvas-list {
		background-color: $off-canvas-bg-color;
		bottom: 0;
		box-shadow: $off-canvas-menu-box-shadow;
		margin: 0;
		overflow-x: hidden;
		overflow-y: scroll;
		padding: 0;
		position: absolute;
		list-style-type: none;
		top: 0;
		width: $off-canvas-width;
		z-index: 1002;

		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		@if $off-canvas-pos == right {
			left: $off-canvas-menu-shadow-offset-x;
		}
		@else {
			right: $off-canvas-menu-shadow-offset-x;
		}

		@include transition($off-canvas-transition);

		@media #{$large-up} {
			bottom: auto;
			left: 50%;
			margin-left: -$row-width / 2;
			margin-top: 4em;
			max-height: 80%;
			position: fixed;
			top: -200%;

			@include container-shadow(2, 1000, false);
		}

		> li:first-child a {
			background-color: $header-bg-color;
			color: $site-title-color;
			font-family: 'Dancing Script', cursive;

			&:hover {
				background-color: $header-bg-color;
			}

			&:visited {
				color: $site-title-color;
			}
		}

		li {
			list-style-type: none;

			.divider {
				display: none;
			}

			a {
				display: inline-block;
				padding: $off-canvas-link-padding;
				border-bottom: $off-canvas-link-border-bottom;
				text-decoration: none;
				transition: $off-canvas-link-transition;
				width: 100%;

				&:hover {
					background-color: $off-canvas-hover-bg-color;
				}

				&:visited {
					color: $anchor-color;
				}
			}

			&.current-menu-item:not(.current-menu-ancestor), &.current-author {
				> a {
					background-color: $off-canvas-current-bg-color;
					color: $off-canvas-current-color;
					cursor: default;

					&:after {
						content: "\f155";
						display: inline-block;
						float: right;
						font-family: "icons";
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-decoration: inherit;
						text-rendering: optimizeLegibility;
						text-transform: none;
						-moz-osx-font-smoothing: grayscale;
						-webkit-font-smoothing: antialiased;
						font-smoothing: antialiased;
					}
				}
			}

			&.current-menu-ancestor:not(.expanded), &.current-menu-parent:not(.expanded) {
				> a {
					background-color: $off-canvas-current-bg-color;
					color: $off-canvas-current-color !important;
				}
			}

			&.menu-item-has-children:not(.expanded) {
				> a {
					color: $off-canvas-has-children-color;

					&:after {
						content: "\f14f";
						display: inline-block;
						float: right;
						font-family: "icons";
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-decoration: inherit;
						text-rendering: optimizeLegibility;
						text-transform: none;
						-moz-osx-font-smoothing: grayscale;
						-webkit-font-smoothing: antialiased;
						font-smoothing: antialiased;
					}
				}
			}

			ul {
				margin: 0;
				max-height: 0;
				padding: 0;
				overflow: hidden;

				@include transition(max-height 100ms ease);

				li {
					margin: 0;
					padding: 0;

					a {
						font-size: .83em;
						padding: $off-canvas-child-link-padding;
					}

					ul li a {
						font-size: .67em;
						padding: $off-canvas-grand-child-link-padding;
					}
				}
			}

			&.expanded > ul {
				max-height: 50em;

				@include transition(max-height 1000ms ease);
			}
		}
	}

	a.exit-off-canvas {
		background: none;
		bottom: 0;
		cursor: $off-canvas-overlay-cursor;
		display: none;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1001;

		-webkit-tap-highlight-color: rgba(0,0,0,0);

		@include transition($off-canvas-overlay-transition);
	}
}

.off-canvas-move #off-canvas-menu {
	ul.off-canvas-list {
		@if $off-canvas-pos == right {
			@include translate3d(-($off-canvas-menu-shadow-offset-x + $off-canvas-width), 0, 0);
		}
		@else {
			@include translate3d($off-canvas-menu-shadow-offset-x + $off-canvas-width, 0, 0);
		}

		@media #{$large-up} {
			top: 0;

			@include translate3d(0, 0, 0);
		}
	}

	a.exit-off-canvas {
		background: $off-canvas-overlay-background;
		@media #{$large-up} {
			&:hover {
				background: $off-canvas-overlay-background-hover;
			}
		}
		display: block;
	}
}

// Tab-bar
#page-header .tab-bar .off-canvas-toggle {
	color: $off-canvas-toggle-icon-color;
	display: inline-block;
	font-size: 2em;
	left: $off-canvas-toggle-offset;
	position: absolute;
	text-decoration: none;
	width: 0;

	&:visited {
		color: $off-canvas-toggle-icon-color;
	}

	@media #{$large-up} {
		display: none;
	}
}

// Pagination

// Container
.pagination-centered {
	display: block;
	margin: .25em auto .5em;
	text-align: center;

	#single-nav & {
		margin: .25em auto;
	}
}

// Pagination colorize
ul.pagination {
	margin: 0;

	li {
		display: inline-block;
		margin: 0 .15em;

		@include perlovs-button($font-size: 1em, $round: 1.5em, $current: true, $unavailable: true, $transparent: 0);
	}

	a {
		color: inherit;
		cursor: inherit;
		text-decoration: none;
	}

}

// Breadcrumbs
.breadcrumbs {
	color: $breadcrumbs-color;
	overflow: hidden;
	text-transform: lowercase;

	& > * {
		text-transform: lowercase;
		white-space: nowrap;
	}

	a {
		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}

	.divider:before {
		content: ">";
		margin: 0 .2em;
		position: relative;
		text-decoration: none;
		top: 1px;
		white-space: normal;
	}

	.current {
		font-weight: normal;
		font-style: italic;
	}

	// bug fix related to font boosting on mobile (different fonts change size differently)
	// basically disable font scaling on mobile (do not respect user set values too...)
	max-height: 1000000px;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-webkit-text-size-adjust:none;

	@media #{$large-up} {
		max-height: none;
		-moz-text-size-adjust:auto;
		-ms-text-size-adjust:auto;
		-webkit-text-size-adjust:auto;
	}
}