.search-form {
	position: relative;
	text-align: left;

	input {
		font-size: 1.25em;
	}
}

.search-label {
	color: $h-small-color;
	margin-top: 0;
	margin-bottom: .25em;
	text-align: center;
}

.search-inner-container {
	position: relative;
}

.search-field {
	border: 1px solid #EEEEEE;
	display: inline-block;
	line-height: 1.5em;
	margin: 0;
	padding: .2em 5em .2em .5em;
	width: 100%;
	-webkit-appearance: none;

	&:focus, &:active {
		border: 1px solid #EEEEEE;
		outline: none;

		@include container-shadow(1);
	}
}

.search-submit {
	background: none;
	border: none;
	border-bottom: 1px solid #EEEEEE;
	bottom: 0;
	color: $anchor-color;
	line-height: 1.5em;
	padding: .2em .5em;
	position: absolute;
	right: 0;

	&:hover {
		text-decoration: underline;
	}
}