/*
	Perlovs Wordpress theme single page/post styles
*/

// -------------------
// Post content area
// -------------------

.single-article {
	overflow: hidden;

	.entry-content {
		overflow: visible;

		// Force center aligned images in posts
		img {
			display: block;
			margin: 1.5em auto 0;
		}

		.image-container {
			margin: 1.5em -1em 0;

			img {
				margin: 0 auto;
			}
		}

		// Set smaller margin between caption and img
		p + .image-container {
			margin: .25em -1em 0;
		}

		// Compensate margin of span from more tag
		p span[id*="more"]:first-child {
			display: block;
			margin-top: -1.5em;
		}

		// bug fix related to font boosting on mobile (different fonts change size differently)
		// basically disable font scaling on mobile (do not respect user set values too...)
		max-height: 1000000px;
		-moz-text-size-adjust:none;
		-ms-text-size-adjust:none;
		-webkit-text-size-adjust:none;

		@media #{$large-up} {
			max-height: none;
			-moz-text-size-adjust:auto;
			-ms-text-size-adjust:auto;
			-webkit-text-size-adjust:auto;
		}
	}
}

// -------------------
// Post footer
// -------------------

.single-article footer {
	background-color: $article-footer-bg-color;
	margin: .5em (-($content-side-padding)) -.5em;

	@media #{$medium-up} {
		margin: .5em (-($content-side-padding-medium-up)) -.5em;
	}

	@include content-padding($padding-top: .25em);
}

// Next previous links
.previous-post-link, .next-post-link {
	margin-top: .25em !important;
	margin-bottom: .25em !important;
}

// -------------------
// Post comments
// -------------------

.entry-comments {
	.comment-toggle {
		background: none;
		border-top: 1px dashed $comment-toggle-border-color;
		color: $anchor-color;
		cursor: pointer;
		height: 2em;
		line-height: 2em;
		margin: .5em -1em -.25em -1em;
		text-align: center;
		width: auto;

		&:hover, &:active {
			background-color: $comment-toggle-hover-bg-color;
		}
	}
}

// -------------------
// Post meta
// -------------------

.post-meta {
	overflow: hidden;

	& > * {
		margin-right: 1.5em;
	}
}

.post-time, .post-author, .post-countries {
	margin-right: 1.5em;
	white-space: nowrap;
	word-wrap: normal;
}
